body{
  margin: 0;
  max-width: 1920px;
}
.header {

  background: url("../img/m-h-day.jpg") no-repeat ;
  background-size: cover;
  border-radius: 0 0 350px 0;
  min-height: 1060px;

}


       .header .header-wrap .header_text {
      line-height: 30px;
      font-size: 20px;
      margin-bottom: 40px; }
.header_button{
  background-color:#9ACD32;
  color: white;
  border:#9ACD32;
  border-radius: 2px;
  height: 30px;
    width: 80px;
}

.header .landing-logo{
  display: flex;
  font-family: "Hind", sans-serif;
  
}
.landing-logo img{
  height: 45px;
    width: 45px;
}



.header .landing-logo p{
  text-align: center;
  font-weight: bold;


}
.header .landing-logo span{
  font-size: 11px;
  font-weight: normal;
  display: block;
}



.header_heading {
  position: relative;
  font-size: 100px;
  font-weight: 900;
  width: 50%;
  line-height: 80px;
  z-index: 100; }
 
.header_text{
  max-width: 450px;
  padding-left: 40px; 
  font-size: 14px;
  position: absolute;

}


.section_text{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.section_card_wrap{
    display: flex;
 justify-content: space-between;


}

.section_card{
  background-color: #21232e;
  padding: 16px;
  margin: 16px;
  border-radius: 4px;
  color: #fff;
  width: 14%; 
}





